<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Tuan Nghia NodeJs</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="collapsibleNavId"
    >
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownId"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="https://i.ytimg.com/vi/4KaeiKYCaaY/hq720.jpg?sqp=-oaymwE2CNAFEJQDSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhDIFQoZTAP&rs=AOn4CLBPW7gxgITxJzBKnuByPuVWNlrKHQ"
              alt=""
              class="user-avatar"
            />
            Tuan Nghia</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="product-list/create">Create Product</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="product-list/outlet">Create Outlet
              Product</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="login/create">Create Account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="me/stored/courses">My Course</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>