.container {
    // display: flex;
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: 32px 132px 48px 132px;
    border: 1px solid var(--primary);
    border-radius: 20px;
}

// HEADER
.content-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 36px;
}

.content-title {
    flex: 10;
    display: flex;
    text-align: left;
    font-weight: 600;
    color: var(--primary);
}

.items-quantity {
    background-color: var(--primary);
    text-align: center;
    color: white;

    min-height: 45px;
    min-width: 80px;
    padding: 10px;
    border: 2px solid var(--primary);
    border-radius: 10px;

    h5 {
        font-size: 1.6rem;
        font-weight: 700;
    }
}

// SECTION
.content-place {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.product-info {
    width: 100%;
    font-size: 2rem;
    display: inline-flex;
    margin: 0 25px 40px 15px;
}

.pro-img {
    object-fit: cover;
    width: 25%;
    cursor: pointer;
}

.pro-name-and-price {
    flex: 12;
    position: relative;
    margin: 0 32px;
}

.pro-name {
    font-weight: 700;
    font-size: 2.4rem;
}

.pro-price {
    font-weight: 700;
    color: var(--primary);
    font-size: 2.4rem;
}

.pro-type {
    font-weight: 600;
    color: #757575;
}

.options {
    margin-top: 32px;
}

.modify {
    margin-right: 12px;
}

.delete {
    margin-left: 12px;
}
.select-btn {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 12px;
    margin-top: 24px;
}
