<div class="mt-4">
  <h3>Add oultet product</h3>
  <form method="post" action="/product-list/outletStore">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>

    <div class="mb-3">
      <label for="pro_code" class="form-label">Pro code:</label>
      <input type="text" class="form-control" id="pro_code" name="pro_code" />
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="text" class="form-control" id="price" name="price" />
    </div>

    <div class="mb-3">
      <label for="type" class="form-label">Type:</label>
      <input type="text" class="form-control" id="type" name="type" />
    </div>

    <div class="mb-3">
      <label for="color" class="form-label">Color:</label>
      <input type="text" class="form-control" id="color" name="color" />
    </div>
    <div class="mb-3">
      <label for="image1" class="form-label">Image1:</label>
      <input type="text" class="form-control" id="image1" name="image1" />
    </div>
    <div class="mb-3">
      <label for="image2" class="form-label">Image2:</label>
      <input type="text" class="form-control" id="image2" name="image2" />
    </div>
    <button type="submit" class="btn btn-primary">Add course</button>
  </form>
</div>